<h1>To-do list</h1>

<div>
    <div class="p-field">
        <span class="p-float-label p-mt-4 p-mb-4">
            <input id="new-task-input" [class]="{'p-invalid': newTask.invalid && (newTask.dirty)}" type="text" pInputText [formControl]="newTask" (keyup.enter)="createTask(newTask.value)"> 
            <label for="new-task-input">New task</label>
            <br><small *ngIf="newTask.invalid && (newTask.dirty || newTask.touched) && newTask.errors.minlength" id="new-task-input-help" class="p-invalid">Task must have more than 3 chars.</small>
        </span>
    </div>
    {{newTask.invalid}}
    {{newTask.dirty}}
    {{newTask.touched}}
<h2>Tasks</h2>
    <div *ngIf="tasks.length == 0">Task list is empty, try to add some tasks!</div>
    <ng-container *ngFor="let task of tasks">
        <div class="p-field-checkbox">
            <p-checkbox id="task.id" [(ngModel)]="task.checked" binary="true" inputId="task.checked" (onChange)="updateTask(task)"></p-checkbox>
            <label for="task.id" [ngClass]="{'strikethrough p-text-italic': task.checked}">{{task.text}}</label>
            <p-confirmPopup></p-confirmPopup>
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-ml-2" (click)="confirmDelete($event,task)"></button>    
        </div>
        
    </ng-container>
</div>
